<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SKYROUTE | WEST AFRICA 2025</title>
    <!-- icon -->
    <link rel="icon" href="./images/download (1).png">
    <!-- STYLE  -->
    <link rel="stylesheet" href="css/style.css">
    <!-- end here -->
    <!-- script -->
    <script src="./js/main.js" defer></script>
    <!-- end here -->
    <!-- icon links -->
    <!--  LINKS FOR fontawesome  ICON -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
    <!-- end of link for icon icon -->
    <!-- google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">
    <!-- end of google fonts -->
</head>
<body>
    <div class="container">
        <aside class="sidebar">
            <div class="menu-toggle"><i class="fas fa-bars"></i></div>
            <div class="logo1">Sky🪽Route</div>
            <nav>
                <ul>
                    <li><a href="itinerary.html"><i class="fa-solid fa-plane-circle-check"></i>Itinerary Builder</a></li>
                    <li><a href="client.html"><i class="fa-solid fa-users"></i>Clients</a></li>
                    <li><a href=""><i class="fa-solid fa-message"></i>Messages</a></li>
                    <li><a href=""><i class="fa-solid fa-chart-simple"></i>Analytics</a></li>
                </ul>
            </nav>
        </aside>
    </div>
