<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>SKYROUTE | WEST AFRICA 2025</title>
<link rel="icon" href="./images/download (1).png">
<link rel="stylesheet" href="css/style.css">
<script src="./js/main.js" defer></script>
<script src="./js/main1.js" defer></script>
<script src=".js/scripts.js" defer></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>
<body>
                    <nav class="main-nav">
                        <ul>
                            <li><a href="index.html"><i class="fa-solid fa-house"></i>Home</a></li>
                            <li><a href="about.html"><i class="fa-solid fa-book"></i>About</a></li>
                            <li><a href="itinerary.html"><i class="fa-solid fa-plane-circle-check"></i>Itinerary Builder</a></li>
                            <li><a href="client.html"><i class="fa-solid fa-users"></i>Clients</a></li>
                            <li><a href="message.html"><i class="fa-solid fa-message"></i>Messages</a></li>
                            <li><a href="analytics.html"><i class="fa-solid fa-chart-simple"></i>Analytics</a></li>
                            <li><a href="contact.html"><i class="fa-solid fa-phone"></i>Contact Us</a></li>
                        </ul>
                    </nav>
</body>
</html>