 <div class="container">
    <aside class="sidebar">
      <div class="menu-toggle"><i class="fas fa-bars"></i></div>
      <div class="logo1">Sky🪽Route</div>
      <nav aria-label="Main Navigation">
        <ul>
          <li><a href="index.html"><i class="fa-solid fa-house"></i>Home</a></li>
          <li><a href="about.html"><i class="fa-solid fa-person"></i>About</a></li>
          <li><a href="itinerary.html"><i class="fa-solid fa-plane-circle-check"></i>Itinerary Builder</a></li>
          <li><a href="client.html"><i class="fa-solid fa-users"></i>Clients</a></li>
          <li><a href="message.html"><i class="fa-solid fa-message"></i>Messages</a></li>
          <li><a href="analytics.html"><i class="fa-solid fa-chart-simple"></i>Analytics</a></li>
          <li><a href="contact.html"><i class="fa-solid fa-phone"></i>Contact Us</a></li>
        </ul>
      </nav>
    </aside>
